* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  background-color: rgb(35, 34, 36);
  min-height: 100vh;
  color: white;
}
@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Noto";
  src: url("/fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open";
  src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open_con";
  src: url("/fonts/Open_Sans/static/OpenSans_SemiCondensed-Bold.ttf")
    format("truetype");
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p,
span {
  font-family: "Noto";
}
h1,
h2 {
  font-family: "Open_con";
}
h3 {
  font-family: "Open";
}
span {
  font-weight: 800;
}

.deadSpace {
  height: 20px;
}
