.headerAndInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.header {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 33px;
}
.icon {
  height: 50px;
  width: 50px;
}
.infoPara {
  font-size: 17px;
  font-weight: 500;
}
